.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    color: white;
    padding: 0.1px;
}

.App-title {
    font-size: 4vw;
    position: relative;
}

.App-intro {
    font-size: large;
}

.homepage{
    height: 100%;
    width: 100%;
    background-color: azure;

}

.background-img{
    max-width: 100%;
}

.navbar-main{
    position: relative;
    margin-bottom: 0;
    padding: 1.5%;
    background-color: white;
    border-color: transparent;

}

.brand-name{
    font-size: 5em;
    position: absolute;
    padding-right: 0;
    padding-left: 0;
    left: 2%;
    right: 0;
}

.nav-elements-left{
    position: relative;
    font-size: large;
}

.nav-elements-right{
    font-size: large;
}

@media screen and (max-width: 767px){
    .drop-menu{
        margin-top: 10px;
    }
}



@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
